<div class = "btn-group-justified btn-group-lg btn-group-vertical mybuttongroup">
  <button (click)="loadFirstGrade()" class="btn btn-primary">Load 1st grade</button>

  <button (click)="loadRound('1')" class="btn btn-primary">Load 1st Round Words</button>
  <button (click)="loadRound('2')" class="btn btn-primary">Load 2nd Round Words</button>
  <button (click)="loadRound('3')" class="btn btn-primary">Load 3rd Round Words</button>
  <button (click)="loadRound('4')" class="btn btn-primary">Load 4th Round Words</button>
  <button (click)="loadRound('5')" class="btn btn-primary">Load 5th Round Words</button>


</div>
