<div class="starter-template">
  <h1>Dunton Spelling Bee</h1>


  <div class = "btn-group-justified btn-group-lg btn-group-vertical mybuttongroup">
    <button [routerLink]="['/round', 'test']" class="btn btn-primary">Test - Grade 1</button>

    <button [routerLink]="['/round', '1']" class="btn btn-primary">Round 1</button>

    <button [routerLink]="['/round', '2']" class="btn btn-primary">Round 2</button>

    <button [routerLink]="['/round', '3']" class="btn btn-primary">Round 3</button>

    <button [routerLink]="['/round', '4']" class="btn btn-primary">Round 4</button>

    <button [routerLink]="['/round', '5']"  class="btn btn-primary">Round 5</button>

  </div>




</div>
